@inject IResizeListener listener
@implements IDisposable
@page "/MessageDefine"

@inject IMessageService _message
@inject IConfirmService _confirmService
@inject SysDictTypeService selectService
@inject SysSageKingMessageService dataService
@inject SysSageKingMessageAttributeService dataDetailService

<PageTitle>消息结构定义</PageTitle>

@{

    RenderFragment FormParentTemplate()
    {
        return@<SysSageKingMessageEdit @ref=@edit Title="@modelTitle" model="@addModel"></SysSageKingMessageEdit>;
    }

    async Task HandleOk(MouseEventArgs e)
    {
        try
        {
            addloading = true;
            if (edit != null)
            {
                var result = await edit.Save();
                if (!result)
                {
                    _visible = true;
                    addloading = false;
                    return;
                }
            }
            await Refresh(false);
            await _message.Success($"{modelTitle}【{addModel.Name}】成功！");
            _visible = false;
            addloading = false;
        }
        catch (Exception ex)
        {
            Error?.ProcessError(ex, $"{modelTitle}【{addModel.Name}】失败！");
        }
    }

}

@{

    RenderFragment FormChildTemplate()
    {
        return@<SysSageKingMessageAttributeEdit @ref=@editchild Title="@modelTitle" model="@addchildModel"></SysSageKingMessageAttributeEdit>;
    }

    async Task HandleChilcOk(MouseEventArgs e)
    {
        try
        {
            addchildloading = true;
            if (editchild != null)
            {
                var result = await editchild.Save();
                if (!result)
                {
                    _visibleChild = true;
                    addchildloading = false;
                    return;
                }

            }
            var getParent = pageData.Items.Where(a => a.Id == addchildModel.MessageId).FirstOrDefault();
            if (getParent != null)
            {
                getParent.Children = await QueryChildList(addchildModel.MessageId);
            }
            await _message.Success($"{modelTitle}【{addchildModel.Name}】成功！");
            _visibleChild = false;
            addchildloading = false;
        }
        catch (Exception ex)
        {
            Error?.ProcessError(ex, $"{modelTitle}【{addchildModel.Name}】失败！");
        }
    }

}

@{

    RenderFragment FormImportDataAttPageTemplate()
    {
        return@<ImportDataAttPage @ref=@editImportDataAtt ParentId="@messageId" AttrNames="@attrNames"></ImportDataAttPage>;
    }

    async Task HandleOkImportDataAtt(MouseEventArgs e)
    {
        try
        {
            loadingImport = true;
            if (editImportDataAtt != null)
            {
                var result = await editImportDataAtt.Save();

                if (result != 0)
                {
                    _visibleImport = true;
                    loadingImport = false;

                    if (result == 2)
                    {
                        await _message.Warning("当前消息结构,已有对应属性，无需再次导入！");
                    }
                    return;
                }

            }
            var getParent = pageData.Items.Where(a => a.Id == messageId).FirstOrDefault();
            if (getParent != null)
            {
                getParent.Children = await QueryChildList(messageId);
            }
            await _message.Success($"【{getParent?.Name}】{modelTitle}成功！");
            _visibleImport = false;
            loadingImport = false;
        }
        catch (Exception ex)
        {
            Error?.ProcessError(ex, $"【{messageId}】{modelTitle}失败");
        }
    }

}

@if (pageData == null)
{
    <Spin size="large" Tip="Loading..." />
}
else
{
    <Table @ref="table" TItem="SysSageKingMessage"
           DataSource="@pageData.Items"
           RowKey="x=>x.Id"
           OnRowClick="OnRowClick"
           @bind-SelectedRows="@selectedRows"
           Size="TableSize.Small"
           OnChange="OnChange"
           OnExpand="OnRowExpand" Loading="tableLoading"
           Resizable Bordered EnableVirtualization
           ScrollY="@ScrollY" PageSize="pageData.PageSize">
        <TitleTemplate>
            <Space>
                <SpaceItem Style="margin-left:15px;">
                    <Search Placeholder="Search Name" @bind-Value="searchString" OnSearch="()=>table?.ReloadData()" AllowClear="true" />
                </SpaceItem>

                <SpaceItem>
                    <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Reload" OnClick="()=>Refresh()">刷新</Button>
                </SpaceItem>

                <SpaceItem>
                    <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.AppstoreAdd" OnClick="@AddData">新增</Button>
                </SpaceItem>
            </Space>
        </TitleTemplate>
        <ColumnDefinitions>
            <Selection Type="@selectionType"></Selection>
            <PropertyColumn Property="c=>c.Name" Title="消息名称" Sortable="true" Filterable />
            <PropertyColumn Property="c=>c.Type" Title="类型" Sortable="true" Align="ColumnAlign.Center" Filterable>
                <Text>@GetTypeDesc(context.Type)</Text>
            </PropertyColumn>
            <PropertyColumn Property="c=>c.Status" Title="状态" Align="ColumnAlign.Center" Sortable="true" Filterable>
                <Switch @bind-Value="@context.Status" OnClick="()=>EditOnStatusSwitch(context)" CheckedChildren="开" UnCheckedChildren="关"></Switch>
            </PropertyColumn>
            <PropertyColumn Property="c=>c.Description" Title="描述信息" Ellipsis />
            <PropertyColumn Property="c=>c.Version" Title="Version" Sortable="true" Filterable></PropertyColumn>
            <PropertyColumn Property="c=>c.Id" Title="Id" Sortable="true" Filterable />
            <ActionColumn Title="Action" Fixed="right">
                <Space>
                    <SpaceItem>
                        <Tooltip Title="@IconType.Outline.Edit">
                            <Button OnClick="(e)=>EditData(context)" Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Edit" />
                        </Tooltip>
                    </SpaceItem>
                    <SpaceItem>
                        <Popconfirm Title="确认删除?"
                                    OnConfirm="(e) => DeleteData(context)"
                                    OkText="Yes"
                                    CancelText="No">
                            <Button Icon="@IconType.Outline.Delete" Shape="@ButtonShape.Circle" Danger></Button>
                        </Popconfirm>
                    </SpaceItem>
                </Space>
            </ActionColumn>
        </ColumnDefinitions>
        <ExpandTemplate Context="rowData">
            <Table Class="childTable" TItem="SysSageKingMessageAttribute" DataSource="rowData.Data.Children" Loading="rowData.Data.Children==null" Size=@TableSize.Small EnableVirtualization PageSize="10" ScrollY="200px" PaginationPosition="bottomCenter"
                   @bind-SelectedRows="@selectedRowsAttr" RowKey="a=>a.Id.ToString()" OnRowClick="OnRowAttrClick" Resizable Bordered>
                <TitleTemplate>
                    <Space>
                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.AppstoreAdd" OnClick="(e)=>AddDataAtt(rowData.Data.Id)">新增属性</Button>
                        </SpaceItem>

                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Import" OnClick="(e)=>ImportDataAtt(rowData.Data.Id)">快速导入</Button>
                        </SpaceItem>
                    </Space>

                </TitleTemplate>
                <ColumnDefinitions>
                    <Selection Key="@rowData.Data.Id.ToString()" Type="@selectionType"></Selection>
                    <PropertyColumn Property="c=>c.Name" Title="属性名称" Sortable="true" Filterable />
                    <PropertyColumn Property="c=>c.Type" Title="类型" Sortable="true" Align="ColumnAlign.Center" Filterable>
                        <Text>@context.Type.GetDescription(true)</Text>
                    </PropertyColumn>
                    <PropertyColumn Property="c=>c.Status" Title="Status" Sortable="true" Align="ColumnAlign.Center" Filterable>
                        <Switch @bind-Value="@context.Status" OnClick="()=>EditOnStatusSwitchAtt(context)" CheckedChildren="开" UnCheckedChildren="关"></Switch>
                    </PropertyColumn>
                    <PropertyColumn Property="c=>c.Description" Title="描述信息" Ellipsis />
                    <PropertyColumn Property="c=>c.Id" Title="Id" Sortable="true" Filterable />
                    <PropertyColumn Property="c=>c.MessageId" Title="MessageId"></PropertyColumn>
                    <ActionColumn Title="Action" Fixed="right">
                        <Space>
                            <SpaceItem>
                                <Tooltip Title="@IconType.Outline.Edit">
                                    <Button OnClick="(e)=>EditDataAtt(context)" Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Edit" />
                                </Tooltip>
                            </SpaceItem>
                            <SpaceItem>
                                <Popconfirm Title="确认删除?"
                                            OnConfirm="() => DeleteAtt(context,rowData.Data.Id)"
                                            OkText="Yes"
                                            CancelText="No">
                                    <Button Icon="@IconType.Outline.Delete" Shape="@ButtonShape.Circle" Danger></Button>
                                </Popconfirm>

                            </SpaceItem>
                        </Space>
                    </ActionColumn>
                </ColumnDefinitions>
                <PaginationTemplate>
                    <Pagination Class="@(context.PaginationClass + " my-custom-pagination")"
                                Total="context.Total"
                                ShowTotal="showTotal"
                                PageSize="context.PageSize"
                                Current="context.PageIndex"
                                ShowSizeChanger
                                OnChange="context.HandlePageChange" />
                </PaginationTemplate>
            </Table>
        </ExpandTemplate>


        <PaginationTemplate>
            <Pagination ShowTotal="showTotal" Class="@(context.PaginationClass + " my-custom-pagination")"
                        Total="pageData.Total"
                        PageSize="pageData.PageSize"
                        Current="pageData.Page"
                        ShowSizeChanger
                        ShowQuickJumper
                        OnChange="OnPageToDo" />
        </PaginationTemplate>
    </Table>

    <Modal Title="@modelTitle"
           @bind-Visible="@_visible" Draggable="@(true)" Centered Closable="false"
           OnOk="HandleOk" ConfirmLoading="addloading" OkText="modelOkTitle" CancelText="modelCancelText">

        @FormParentTemplate()
    </Modal>

    <Modal Title="@modelTitle"
           @bind-Visible="@_visibleChild" Draggable="@(true)" Centered Closable="false"
           OnOk="HandleChilcOk" ConfirmLoading="addchildloading" OkText="modelOkTitle" CancelText="modelCancelText">

        @FormChildTemplate()
    </Modal>

    <Modal Title="@modelTitle"
           @bind-Visible="@_visibleImport" Draggable="@(true)" Centered Closable="false"
           OnOk="HandleOkImportDataAtt" ConfirmLoading="loadingImport" OkText="modelOkTitle" CancelText="modelCancelText">

        @FormImportDataAttPageTemplate()
    </Modal>
}
<style>
    .ant-table-body {
        height: @ScrollY;
    }

    .showTotal {
        margin: 3.5px 0 0 5px;
    }

    .childTable {
        box-shadow: 0px 0px 0.5px 0.5px #aaa;
    }

    .my-custom-pagination {
        margin: 12px 0 0 0;
    }

    .ant-table-pagination.ant-pagination {
        margin: 12px 0 0 0;
    }

    .my-custom-pagination .ant-pagination-item,
    .my-custom-pagination .ant-pagination-item-link {
        border-radius: 100%;
    }
</style>
@code {

    bool loading;
    static bool IsfirstRender = false;

    string ScrollY = "500px";
    int browserHeight = 760;
    int ScrollYOffset = 210;
    bool IsSmallMedia = false;
    // We can also capture the browser's width / height if needed. We hold the value here.
    BrowserWindowSize browser = new BrowserWindowSize();

    //table
    ITable table;
    bool tableLoading;
    string searchString;
    string selectionType = "checkbox";
    RenderFragment<PaginationTotalContext> showTotal = ctx => @<div class="showTotal">Total: <b>@ctx.Total</b></div>;

    PaginationEventArgs pageargs = new PaginationEventArgs(1, 10);
    PageBase<SysSageKingMessage> pageData;

    IEnumerable<SysSageKingMessage> selectedRows;
    IEnumerable<SysSageKingMessageAttribute> selectedRowsAttr;

    //select data
    SysDictType SelectDataType;

    //model base btn title
    string modelTitle = "新增";
    string modelOkTitle = "保存";
    string modelCancelText = "取消";

    //add
    bool _visible = false;
    bool addloading = false;
    SysSageKingMessage addModel;
    SysSageKingMessageEdit edit;

    //add child
    bool _visibleChild = false;
    bool addchildloading = false;
    SysSageKingMessageAttribute addchildModel;
    SysSageKingMessageAttributeEdit editchild;

    //ImportDataAttPage
    bool _visibleImport = false;
    bool loadingImport = false;
    long messageId;
    List<string> attrNames;
    ImportDataAttPage editImportDataAtt;

    #region init
    [CascadingParameter]
    public Error? Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await InitSelectData();
            await Refresh(false);
            await base.OnInitializedAsync();
        }
        catch (Exception ex)
        {
            Error?.ProcessError(ex);
        }
    }

    async Task InitSelectData()
    {
        SelectDataType = await selectService.GetDetailCache(SysDictTypeConst.code_message_type);
    }

    string? GetTypeDesc(int type)
    {
        return SelectDataType?.Children?.FirstOrDefault(a => a.ValueInt == type)?.CodeValue;
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            // Subscribe to the OnResized event. This will do work when the browser is resized.
            listener.OnResized += WindowResized;
        }
    }

    void IDisposable.Dispose()
    {
        // Always use IDisposable in your component to unsubscribe from the event.
        // Be a good citizen and leave things how you found them.
        // This way event handlers aren't called when nobody is listening.
        listener.OnResized -= WindowResized;
    }

    // This method will be called when the window resizes.
    // It is ONLY called when the user stops dragging the window's edge. (It is already throttled to protect your app from perf. nightmares)
    async void WindowResized(object _, BrowserWindowSize window)
    {
        // Get the browsers's width / height
        browser = window;

        // Check a media query to see if it was matched. We can do this at any time, but it's best to check on each resize
        IsSmallMedia = await listener.MatchMedia(Breakpoints.SmallDown);

        browserHeight = browser.Height <= 0 ? browserHeight : browser.Height;
        ScrollY = $"{(browserHeight - ScrollYOffset)}px";

        // We're outside of the component's lifecycle, be sure to let it know it has to re-render.
        StateHasChanged();
    }
    #endregion

    async Task Refresh(bool notice = true)
    {
        tableLoading = true;
        table?.CollapseAll();
        await OnPageToDo(pageargs);
        tableLoading = false;
        if (notice)
        {
            await _message.Success("刷新成功!");
        }
    }

    public async Task OnPageToDo(PaginationEventArgs args)
    {
        pageargs.Page = args.Page;
        pageargs.PageSize = args.PageSize;

        var page = new PageBaseInput() { Page = args.Page, PageSize = args.PageSize };
        Expression<Func<SysSageKingMessage, object>> orderbyfunc = a => a.Id;

        pageData = await dataService.GetPage(page, orderbyfunc, false);
    }

    public async Task<List<SysSageKingMessageAttribute>> QueryChildList(long ParentId)
    {
        Expression<Func<SysSageKingMessageAttribute, bool>> func = a => a.MessageId == ParentId;
        Expression<Func<SysSageKingMessageAttribute, object>> orderbyfunc = a => a.Id;

        return await dataDetailService.GetList(func, orderbyfunc, false);
    }

    private async void OnRowClick(RowData<SysSageKingMessage> data)
    {
        var row = data.Data;
        await QueryChildList(row.Id);
    }

    private void OnRowAttrClick(RowData<SysSageKingMessageAttribute> data)
    {
        var row = data.Data;
    }

    private async void OnRowExpand(RowData<SysSageKingMessage> data)
    {
        data.Data.Children = await QueryChildList(data.Data.Id);
        attrNames = data.Data.Children.Select(a => a.Name).ToList();
    }

    void OnChange(QueryModel<SysSageKingMessage> query)
    {
    }

    #region crud

    void AddData()
    {
        addModel = new SysSageKingMessage();
        modelTitle = "消息结构新增";
        modelOkTitle = "保存";
        _visible = true;
        addloading = false;
    }

    void EditData(SysSageKingMessage row)
    {
        addModel = row.Clone<SysSageKingMessage>();
        modelTitle = "消息结构编辑";
        modelOkTitle = "保存";
        _visible = true;
        addloading = false;
    }

    void ImportDataAtt(long parentid)
    {
        messageId = parentid;
        modelTitle = "消息属性-快速导入";
        modelOkTitle = "导入";
        _visibleImport = true;
        loadingImport = false;
    }

    async void EditOnStatusSwitch(SysSageKingMessage entity)
    {
        try
        {
            var id = entity.Id;
            var state = entity.Status;
            string content = !state ? $"确认关闭【{entity.Name}】" : $"确认开启【{entity.Name}】";

            var confirmResult = await _confirmService.Show(content + "?", "提示", ConfirmButtons.YesNo);
            if (confirmResult == ConfirmResult.Yes)
            {
                Expression<Func<SysSageKingMessage, bool>> wherefunc = a => a.Id == id;
                Expression<Func<SysSageKingMessage, object>> updatefunc = a => new { a.Status };

                await dataService.Update(entity, updatefunc);
                await _message.Success($"{content} 成功", 2);
            }
            else
            {
                entity.Status = !state;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            Error?.ProcessError(ex);
        }
    }

    async void DeleteData(SysSageKingMessage row)
    {
        pageData.Items = pageData.Items.Where(a => a.Id != row.Id);
        pageData.Total -= 1;
        table.ResetData();
        await dataService.Delete(row.Id);
    }
    #endregion

    #region crud attr
    void AddDataAtt(long parentid)
    {
        addchildModel = new SysSageKingMessageAttribute() { MessageId = parentid };
        modelTitle = "消息属性新增";
        _visibleChild = true;
        addchildloading = false;
    }

    void EditDataAtt(SysSageKingMessageAttribute row)
    {
        addchildModel = row.Clone<SysSageKingMessageAttribute>();
        modelTitle = "消息属性编辑";
        _visibleChild = true;
        addchildloading = false;
    }

    async void EditOnStatusSwitchAtt(SysSageKingMessageAttribute entity)
    {
        try
        {
            var id = entity.Id;
            var state = entity.Status;
            string content = !state ? $"确认关闭【{entity.Name}】" : $"确认开启【{entity.Name}】";

            var confirmResult = await _confirmService.Show(content + "?", "提示", ConfirmButtons.YesNo);
            if (confirmResult == ConfirmResult.Yes)
            {
                Expression<Func<SysSageKingMessageAttribute, bool>> wherefunc = a => a.Id == id;
                Expression<Func<SysSageKingMessageAttribute, object>> updatefunc = a => new { a.Status };

                await dataDetailService.Update(entity, updatefunc);
                await _message.Success($"{content} 成功", 2);
            }
            else
            {
                entity.Status = !state;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            Error?.ProcessError(ex);
        }
    }

    async void DeleteAtt(SysSageKingMessageAttribute row, long parentId)
    {
        await dataDetailService.Delete(row.Id);
        await QueryChildList(parentId);
    }

    #endregion
}
