@inject SysSageKingMessageAttributeService dataService

<Form @ref="form"
      Model="@model"
      ValidateOnChange="true"
      Layout="@FormLayout.Horizontal"
      LabelColSpan="4" WrapperColSpan="20">

    <FormItem Label="属性名称">
        <Input ShowCount MaxLength="64" @bind-Value="@model.Name" />
    </FormItem>

    <FormItem Label="属性类型">
        <Select @bind-Value="@model.Type"
                DefaultValue="@(DataStreamTypeEnum.String)"
                Style="width: 100%;"
                TItemValue="DataStreamTypeEnum"
                TItem="string">
            <SelectOptions>
                <SelectOption Value="@(DataStreamTypeEnum.String)" Label="String" />
                <SelectOption Value="@(DataStreamTypeEnum.Int8)" Label="sbyte" />
                <SelectOption Value="@(DataStreamTypeEnum.Int32)" Label="int" />
                <SelectOption Value="@(DataStreamTypeEnum.Int64)" Label="long" />
                <SelectOption Value="@(DataStreamTypeEnum.Float32)" Label="float" />
            </SelectOptions>
        </Select>
    </FormItem>
    <FormItem Label="是否启用">
        <Switch @bind-Value="@context.Status" CheckedChildren="开" UnCheckedChildren="关"></Switch>
    </FormItem>
</Form>
@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public SysSageKingMessageAttribute model { get; set; }

    bool loading;
    AntDesign.Form<SysSageKingMessageAttribute> form;

    public async Task<bool> Save()
    {
        if (!form.Validate())
        {
            return false;
        };

        if (model.Id <= 0)
        {
            await dataService.Add(model);
        }
        else
        {
            await dataService.Update(model);
        }
        return true;
    }

    public void Reset()
    {
        model = new SysSageKingMessageAttribute();
        form.Reset();
    }
}
