@inject SysSageKingMessageAttributeService dataService
@inject SelectMenuCacheService<DataStreamTypeEnum> selectCacheService

<Form @ref="form"
      Model="@model"
      ValidateOnChange="true"
      Layout="@FormLayout.Horizontal"
      LabelColSpan="4" WrapperColSpan="20">

    <FormItem Label="属性名称">
        <Input ShowCount MaxLength="64" @bind-Value="@model.Name" />
    </FormItem>

    <FormItem Label="属性类型">
        <Select @bind-Value="@model.Type"
                DataSource="@SelectType"
                DefaultValue="DataStreamTypeEnum.String"
                LabelName="@nameof(KeyValue<string, DataStreamTypeEnum>.Key)"
                ValueName="@nameof(KeyValue<string, DataStreamTypeEnum>.Value)"
                Style="width: 100%;"
                TItemValue="DataStreamTypeEnum"
                TItem="KeyValue<string, DataStreamTypeEnum>"
                Placeholder="请选属性类型"
                DefaultActiveFirstOption="true"
                EnableSearch>
        </Select>
    </FormItem>
    <FormItem Label="是否启用">
        <Switch @bind-Value="@context.Status" CheckedChildren="开" UnCheckedChildren="关"></Switch>
    </FormItem>
    <FormItem Label="描述信息">
        <TextArea ShowCount MaxLength="200" Width="100%" Placeholder="描述信息" @bind-Value="@context.Description"></TextArea>
    </FormItem>
</Form>
@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public SysSageKingMessageAttribute model { get; set; }

    bool loading;
    AntDesign.Form<SysSageKingMessageAttribute> form;


    //select data
    IList<KeyValue<string, DataStreamTypeEnum>> SelectType;

    protected override async Task OnInitializedAsync()
    {
        SelectType = selectCacheService.GetCache((int)DataStreamTypeEnum.String, (int)DataStreamTypeEnum.Float64, true);
        await base.OnInitializedAsync();
    }

    public async Task<bool> Save()
    {
        if (!form.Validate())
        {
            return false;
        };

        if (model.Id <= 0)
        {
            await dataService.Add(model);
        }
        else
        {
            await dataService.Update(model);
        }
        return true;
    }

    public void Reset()
    {
        model = new SysSageKingMessageAttribute();
        form.Reset();
    }
}
